@using YogaStudio.UI.Models
@model List<TrainerViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
}

<section class="hero-wrap js-fullheight" style="background-image: url('/yogalax-master/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">About YogaStudio</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/Home/Index">Home</a></span>
                    <span>About</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section d-md-flex bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2>We believe that emotional, mental, and spiritual flexibility are virtuous and life-enhancing.</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h3 class="subheading">Coaches</h3>
                <h2 class="mb-1">Meet Our Yoga Coaches</h2>
            </div>
        </div>
        <div class="row">
            @if (Model == null || !Model.Any())
            {
                <div class="col-12 text-center"><p>Henüz eğitmen eklenmemiş.</p></div>
            }
            else
            {
                @foreach (var trainer in Model)
                {
                    <div class="col-lg-3 d-flex">
                        <div class="coach align-items-stretch">
                            <div class="img" style="background-image: url('@trainer.ImageUrl');"></div>
                            <div class="text bg-white p-4 ftco-animate">
                                <span class="subheading">@trainer.Title</span>
                                <h3><a href="#">@trainer.Name @trainer.Surname</a></h3>
                                <ul class="ftco-social-media d-flex mt-4">
                                    <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
